<% if @game.user_word == @game.word %>
  <div class="ui container segment">
    <center><%= render 'word' %></center>
    <center><%= render 'winner' %></center>
    <center><%= render 'button' %></center>
  </div>
<% elsif @game.remaining_guesses <= 0 %>
  <div class="ui container segment">
    <center><%= render 'loser' %></center>
    <center><h2 class="ui header">The correct word was:</h2></center>
    <center><%= render 'word' %></center>
    <center><%= render 'button' %></center>
  </div>
<% else %>
  <div class="ui container segments">
    <div class="ui container segment">
      <center><%= render 'level' %></center> 
      <center><%= render 'word' %></center>
    </div>
    <div class="ui horizontal container segments">
      <div class="ui container segment">
        <center><%= render 'keyboard' %></center>
      </div>
      <div class="ui container segment">
        <center><%= render 'hangman' %></center>
        <% if current_user %>
          <center><%= render 'lifeline' %></center>
        <% end %>
      </div>
      <div class="ui container segment">
        <center><%= render 'incorrect' %></center>
      </div>
    </div>
  </div>
<% end %>
